<head>
  <title>Why The Ventrilo Button</title>

  <meta charset="utf-8">
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style type="text/css">
    body {
      background-color: #ecead5;
      margin: 0;
      padding: 0;
      font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    #content {
      width: 600px;
      margin: 0px auto;
      padding: 50px;
      background-color: #fff;
      border-radius: 1em;
    }
    header { 
      width: 600px;
      margin: 5em auto;
      margin-bottom: 0px;
    }
    footer { 
      width: 600px;
      margin: 5em auto;
      margin-top: 1em;
      font-size: 120%;
    }
    h2 { margin-bottom: 0px; }
    h2::before { content: "Q: " }
    h2 + p::before { content: "A: " }
    a:link, a:visited {
      color: #38488f;
      text-decoration: none;
    }
    @media (max-width: 700px) {
      body {
        background-color: #fff;
      }
      #content {
        width: auto;
        margin: 0 auto;
        border-radius: 0;
        padding: 1em;
      }
      header, footer { width: auto; padding: 1em; padding-top: 0px; }
    }
  </style>    
</head>
<body>
  <header><h1>Huh?: A Ventrilo Button FAQ</h1></header>
  <div id="content">
  <h2>What is this?</h2>
  <p>It's a button that plays the Ventrilo push to talk button noises when you click it. You may recognize them from old gaming videos. Here's <a href="https://www.youtube.com/watch?v=xSMUlXWLGxY">one of them.</a></p>
  <br />
  <h2>...Why?</h2>
  <p>Because I feel nostalgic whenever I click this button, because people don't usually know what they are and just assume they're artifacting and not a built-in noise, and because it'd be great if they made a comeback or something.</p>
  <br />
  <h2>Where did you even get these?</h2>
  <p>From <a href="https://archive.org/download/Ventrilo_201408/Ventrilo/">here.</a> They're the ones named MicKeyUp and MicKeyDown.</p>
  <br />
  <h2>Who are you, anyway?</h2>
  <p>I'm <a href="https://twitter.com/yourcompanionAI">Zoe</a> and I do fun web stuff.</p>
  <br />
  <h2>...Why is this coded so weirdly?</h2>
  <p>Because otherwise Firefox seems to make a GET request every time you click the button, which slows it down immeasurably.</p>
  </div>
  <footer><a href="/">&lt; Go back to clicking the button</a></footer>
</body>
