<head>
  <title>The Ventrilo Button</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="./style.css" rel="stylesheet">
  <link rel="preload" href="./assets/on.png" as="image">
  <link rel="preload" href="./assets/off.png" as="image">
  <link rel="preload" href="./assets/MicKeyDown.mp3" as="audio">
  <link rel="preload" href="./assets/MicKeyDown.ogg" as="audio">
  <link rel="preload" href="./assets/MicKeyUp.mp3" as="audio">
  <link rel="preload" href="./assets/MicKeyUp.ogg" as="audio">
</head>
<body>
  <div id="button" data-pressed="false"></div>
  
  <audio id="audio-mic_on" preload="none">
    <source type="audio/mp3" src="./assets/MicKeyDown.mp3">
    <source type="audio/ogg" src="./assets/MicKeyDown.ogg">
  </audio>
  <audio id="audio-mic_off" preload="none">
    <source type="audio/mp3" src="./assets/MicKeyUp.mp3">
    <source type="audio/ogg" src="./assets/MicKeyUp.ogg">
  </audio>
  
  <a id="huh" href="./huh.html">?</span>
  <script src="./script.js"></script>
</body>
