#button {
  position: absolute;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10%;
  height: 300px;
  width: 300px;
  background-repeat: no-repeat;
  background-position: center center;
}

#button[data-pressed="true"] { 
  background-image: url(assets/on.png);
}

#button[data-pressed="false"] {
  background-image: url(assets/off.png);
}

body { background-color: #ecead5; transition: 1s background-color; }

*{ 
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#huh { 
  position: fixed;
  bottom: 4px;
  right: 10px;
  font-size: 32px;
  color: black;
  font-family: sans-serif
}

@media (max-width: 480px) {
  body { background-color: #fff }
}

